<!DOCTYPE html>
<html>
<head>
    <title>Lisää peli - Peliarvostelusovellus</title>
</head>
    <body>
        <h1>Lisää peli</h1>
        <form action="/add_game" method="post">
            <input type="text" name="title" placeholder="Pelin nimi">
            <input type="text" name="genre" placeholder="Genre">
            <input type="text" name="release_year" placeholder="Julkaisuvuosi">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Lisää peli">
        </form>
        <a href="/">Palaa etusivulle</a>
    </body>
</html>