<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add game - Game review application</title>
</head>
    <body>
        <div class="header">
            <h1>Game review application</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Front page</a></li>
                <li><a href="/profile/{{ session.username }}">Profile</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/add_game">Add game</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <h1>Add game</h1>
        <div class="container">
            <form action="/add_game" method="post">
                <input type="text" name="title" placeholder="Name of the game">
                <input type="text" name="genre" placeholder="Genre">
                <input type="text" name="release_year" placeholder="Release year">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" class="button" value="Add game">
            </form> 
        </div>
    </body>
</html>