<!DOCTYPE html>
<html>
<head>
    <title>Kommentit - Peliarvostelusovellus</title>
</head>
<body>
    <h1>Kommentit</h1>
    <ul>
        {% for comment in comments %}
        <li>
            <a href="/profile/{{ comment['username'] }}">{{ comment['username'] }}</a>
            <p>{{ comment['comment'] }}</p>
            <p>{{ comment['date_created'].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p>{{ comment['likes'] }}</p>
            {% if session.admin_rights %}
            <form action="/comment/delete" method="post">
                <input type="hidden" name="comment_id" value="{{ comment['id'] }}">
                <input type="hidden" name="review_id" value="{{ id }}">
                <input type="submit" value="Poista">
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <form action="/game/{{ id }}/comments" method="post">
        <input type="text" name="comment" placeholder="Kommentti">
        <input type="submit" value="Lisää kommentti">
    <a href="/">Palaa etusivulle</a>
</body>
</html>