<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Games - Game review application</title>
</head>
<body>
    <div class="header">
        <h1>Game review application</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Front page</a></li>
            <li><a href="/profile/{{ session.username }}">Profile</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/add_game">Add game</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h1>Games</h1>
    <table>
        <tr>
            <th>Game name</th>
            <th>Genre</th>
            <th>Release year</th>
            {% if session.admin_rights %}
            <th>Remove game</th>
            {% endif %}
        </tr>
        {% for game in games %}
        <tr>
            <td><a href="/game/{{ game['id'] }}">{{ game['title'] }}</a></td>
            <td>{{ game['genre'] }}</td>
            <td>{{ game['release_year'] }}</td>
            {% if session.admin_rights %}
            <td>
                <form action="/games" method="post">
                    <input type="hidden" name="game_id" value="{{ game['id'] }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" value="Remove">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</html>