<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pelit - Peliarvostelusovellus</title>
</head>
<body>
    <div class="header">
        <h1>Peliarvostelusovellus</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/profile/{{ session.username }}">Profiili</a></li>
            <li><a href="/games">Pelit</a></li>
            <li><a href="/add_game">Lisää peli</a></li>
            <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </nav>
    <h1>Pelit</h1>
    <table>
        <tr>
            <th>Pelin nimi</th>
            <th>Genre</th>
            <th>Julkaisuvuosi</th>
            {% if session.admin_rights %}
            <th>Poista peli</th>
            {% endif %}
        </tr>
        {% for game in games %}
        <tr>
            <td><a href="/game/{{ game['id'] }}">{{ game['title'] }}</a></td>
            <td>{{ game['genre'] }}</td>
            <td>{{ game['release_year'] }}</td>
            {% if session.admin_rights %}
            <td>
                <form action="/games" method="post">
                    <input type="hidden" name="game_id" value="{{ game['id'] }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="submit" value="Poista">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</html>