<!DOCTYPE html>
<html>
<head>
    <title>Peliarvostelusovellus</title>
    </head>
        <body>
            {% if session.user_id%}
                <p>Olet kirjautunut sisään käyttäjänimellä {{ session.username }}</p>
                <a href="/logout">Kirjaudu ulos</a>
                <a href="/profile">Profiili</a>
                <a href="/games">Pelit</a>
                <a href="/add_game">Lisää peli</a>
            {% else %}
            <p>Kirjaudu sisään</p>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Käyttäjätunnus">
                <input type="password" name="password" placeholder="Salasana">
                <input type="submit" value="Kirjaudu sisään">
            </form>
            <a href="/register">Rekisteröidy</a>
            {% endif %}
        </body>
</html>

