<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile - Game review application</title>
    </head>
        <body>
            <div class="header">
                <h1>Game review application</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Front page</a></li>
                    <li><a href="/profile/{{ session.username }}">Profile</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/add_game">Add game</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h1>Users {{username}} profile</h1>
            <div class="bio">
                <p>Favorite game: {{ fav_games }}</p>
                <p>Biography: {{ bio }}</p>
            </div>
            {% if username == session["username"] %}
            <div class="container">
                <a href="/update_profile">Update profile</a>
            </div>
            {% endif %}
        </body>
</html>