<!DOCTYPE html>
<html>
<head>
    <title>Rekisteröidy - Peliarvostelusovellus</title>
    </head>
        <body>
            <h1>Rekisteröidy</h1>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Käyttäjätunnus">
                <input type="password" name="password" placeholder="Salasana">
                <input type="password" name="password2" placeholder="Salasana uudelleen">
                <input type="submit" value="Rekisteröidy">
            </form>
            <a href="/">Palaa etusivulle</a>
        </html>